<div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            
           <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                
                 <div class="media">
                   <div class="media-left media-middle">
                       <a href="#"><img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthapizza"></a>
                   </div>
                   <div class="media-body">
                       <h2 class="media-heading">{{dish.name}}
                           <span class="label label-danger label-xs">{{dish.label}}</span>
                           <span class="badge">{{dish.price | currency}}</span>
                       </h2>
                       <p>{{dish.description}}</p>
                   </div>
               </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
               <div class="media-left media-middle">
                        <span class="media-heading">Customer Comments</span> &nbsp; &nbsp; &nbsp; <small>Sort by: &nbsp;</small>
                <input type="text" ng-model="selectedText">
                </div>
        
                <ul class="list-unstyled">
                    <li ng-repeat="c in dish.comments | orderBy:selectedText" >
                        
                        <blockquote>
                            <p>{{c.rating}} Stars</p>
                           <p>{{c.comment}}</p>
                             <footer>{{c.author}}, {{c.date | date:'mediumDate'}}</footer>
                        </blockquote>
                        
                        
                          </li>
                    </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
<!--                 ng-show="commentForm.$valid && !commentForm.$pristine"-->
<ul class="list-unstyled"  ng-show="showInfo">
                    <li>
                        
                        <blockquote>
                            <p>{{comments.rating}} Stars</p>
                           <p>{{comments.comment}}</p>
                             <footer>{{comments.author}}, </footer>
                        </blockquote>
                        
                        
                          </li>
                    </ul>
                <form class="form-horizontal" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                    
					                    <div class="form-group" ng-class="{'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">

                    <label for="name" class="col-sm-3 control-label">Your Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" ng-model="comments.author" required>
                    
                        <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Your name is required</span>
                    </div>
                    </div>
                    
                                        <div class="form-group">

                    <label for="name" class="col-sm-3 control-label">Your Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" ng-model="comments.author" required>
                    
                        <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Your name is required</span>
                    </div>
                    </div>
                    
                                        <div class="form-group">

                    <label for="Ratings" class="col-sm-3 control-label">Number of stars</label>
                   <div class="col-sm-9">
                    
                        <label class="radio-inline">
                            <input type="radio" ng-model="comments.rating" value="1"><strong>1</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="comments.rating" value="2"><strong>2</strong>
                        </label>
                       <label class="radio-inline">
                            <input type="radio" ng-model="comments.rating" value="3"><strong>3</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="comments.rating" value="4"><strong>4</strong>
                        </label>
                       <label class="radio-inline">
                            <input type="radio" ng-model="comments.rating" value="5"><strong>5</strong>
                        </label>
                        
                       
                    </div>
                    </div>
                                        <div class="form-group" ng-class="{'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">

                     <label for="comment" class="col-sm-3 control-label">Your Comments</label>
                     <div class="col-sm-9">
                         <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="comments.comment" required ng-click="toggleInfo()">
                         </textarea>
                          <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required</span>
                    </div>
                    </div>
                    
                       <div class="form-group" >
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
